@import url("./shared.css");
@import url("./navbar.css");
main {
  background-color: var(--raisin-black);
  color: var(--white);
  font-size: 4rem;
  width: 100%;
  display: grid;
  place-items: center;
}
