@import url("./shared.css");
@import url("./navbar.css");
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 80px repeat(2, 1fr);
  grid-template-areas:
    "welcome welcome mail"
    "generalCanal adminCanal mail"
    "weather weather mail";
  gap: 10px;
  background-color: var(--raisin-black);
  padding: 10px;
}
section {
  display: grid;
  place-items: center;
  font-size: 30px;
  color: var(--white);
  background-color: var(--raisin-black);
  border: 1px solid var(--bg-gray);
  border-radius: 5px;
}
#section-1 {
  grid-area: welcome;
}
#section-2 {
  grid-area: generalCanal;
}
#section-3 {
  grid-area: adminCanal;
}
#section-4 {
  grid-area: weather;
}
#section-5 {
  grid-area: mail;
}
