:root {
  --dark-bg: #030420ff;
  --raisin-black: #181b2aff;
  --rich-black: #06041aff;
  --cadet-gray: #a3a5acff;
  --bg-gray: #ffffff60;
  --raisin-black-2: #262938ff;
  --blue: #0075ff;
  --input: #323646;
  --white: #d6d6d6;
  --gray: #848690;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoModerno-VariableFont_wght.ttf);
}
body {
  height: 100vh;
  overflow-y: hidden;
}
main {
  background-color: var(--raisin-black);
  width: 100%;
  height: 100%;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 0px 2px 0px #fff;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "talks messages";
  gap: 10px;
  padding: 10px;
  overflow-y: hidden;
}
section {
  font-size: 30px;
  color: white;
  background-color: var(--raisin-black);
}
#section-1 {
  grid-area: talks;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 1fr 44px;
  grid-template-areas:
    "input"
    "list"
    "more";
  gap: 10px;
}
#section-1 input {
  grid-area: input;
  border: none;
  border-radius: 5px;
  background-color: var(--input);
  color: var(--white);
  padding: 10px;
  font-size: 1rem;
}
#section-1 input:active,
#section-1 input:focus {
  outline: 2px solid var(--blue);
}
#section-1 input::placeholder {
  color: var(--white);
}
.talks-container {
  grid-area: list;
  background-color: var(--input);
  border-radius: 5px;
}
#section-1 button {
  grid-area: more;
  border-radius: 5px;
  border: none;
  background-color: var(--input);
  display: grid;
  place-items: center;
  cursor: pointer;
}
#section-1 button svg {
  transform: rotate(180deg);
  width: 20px;
  fill: var(--white);
}
#section-2 {
  height: 100%;
  grid-area: messages;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 1fr 44px;
  grid-template-areas:
    "topbar"
    "middle"
    "bottombar";
  gap: 10px;
  overflow-y: hidden;
}
#section-2 .bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px 0 0;
}
#section-2 .bars div {
  display: flex;
}
.topbar {
  grid-area: topbar;
}
.topbar div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.profile-picture svg {
  width: 40px;
  height: 40px;
}
.bottombar div button,
.bottombar button,
.profile-picture,
.info {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.bottombar div button:hover,
#send:hover,
.info:hover {
  background-color: var(--input);
}
#send {
  border-radius: 15px 5px 15px 5px;
}
#current-talking {
  height: 100%;
  width: 100%;
  grid-area: middle;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px 0;
}
#current-talking::-webkit-scrollbar {
  background-color: var(--input);
  width: 10px;
  border-radius: 5px;
}
#current-talking::-webkit-scrollbar-thumb {
  background-color: var(--cadet-gray);
  border-radius: 5px;
}
.bottombar {
  grid-area: bottombar;
}
.bottombar div {
  width: 100%;
  height: 100%;
  gap: 10px;
}
.bottombar div input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--input);
  padding: 0 20px;
  font-size: 1.2rem;
  color: var(--white);
}
.bottombar div input:focus {
  outline: 2px solid var(--blue);
}
.bottombar div input::placeholder {
  color: var(--white);
}
