:root {
  --dark-bg: #030420ff;
  --raisin-black: #181b2aff;
  --rich-black: #06041aff;
  --cadet-gray: #a3a5acff;
  --bg-gray: #ffffff60;
  --raisin-black-2: #262938ff;
  --blue: #0075ff;
  --input: #323646;
  --white: #d6d6d6;
  --gray: #848690;
}
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoModerno-VariableFont_wght.ttf);
}
main {
  background-color: var(--raisin-black);
  font-family: "museo";
  width: 100%;
  height: 100%;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 0px 2px 0px #fff;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 44px 1fr 44px;
  grid-template-areas:
    "input topbar"
    "list middle"
    "list bottombar";
  gap: 10px;
  padding: 10px;
}
svg {
  fill: var(--white);
  height: 30px;
  width: 30px;
}
#search-someone {
  grid-area: input;
  border: none;
  border-radius: 5px;
  background-color: var(--input);
  color: var(--white);
  padding: 10px;
  font-size: 1rem;
}
#search-someone:active,
#search-someone:focus {
  outline: 2px solid var(--blue);
}
#search-someone::placeholder {
  color: var(--white);
}
#talks-container {
  grid-area: list;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 0 0;
}
#talks-container::-webkit-scrollbar {
  background-color: var(--input);
  width: 4px;
  border-radius: 5px;
}
#talks-container::-webkit-scrollbar-thumb {
  background-color: var(--cadet-gray);
  border-radius: 5px;
}
.talks {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--white);
}
.talks:hover {
  background-color: var(--input);
  cursor: pointer;
}
.talks-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--white);
}
.bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: var(--white);
}
.bars div {
  display: flex;
}
#topbar {
  grid-area: topbar;
}
#topbar div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#profile-picture svg {
  width: 40px;
  height: 40px;
}
#profile-picture,
#info,
#actions,
#send {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
#info:hover {
  background-color: var(--input);
}
#middle {
  grid-area: middle;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
#middle::-webkit-scrollbar {
  background-color: var(--input);
  width: 6px;
  border-radius: 5px;
}
#middle::-webkit-scrollbar-thumb {
  background-color: var(--cadet-gray);
  border-radius: 5px;
}
.db-message {
  max-width: 50%;
  background-color: var(--input);
  padding: 10px;
  border-radius: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.db-message p:last-child {
  color: var(--blue);
  align-self: flex-end;
}
#bottombar {
  grid-area: bottombar;
  background-color: var(--input);
  border-radius: 5px;
}
#bottombar div {
  width: 100%;
  height: 100%;
  gap: 10px;
}
#write-input {
  height: 100%;
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: var(--input);
  font-size: 1.2rem;
  color: var(--white);
  outline: none;
}
#write-input::placeholder {
  color: var(--white);
}
