@import url("./shared.css");
@import url("./navbar.css");
main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "chanels topbar"
    "chanels messages"
    "chanels sending";
  gap: 1px;
  background-color: var(--raisin-black);
  padding: 10px;
}
section {
  font-size: 30px;
  color: var(--white);
  background-color: var(--raisin-black);
}
#section-1 {
  grid-area: chanels;
}
#section-2 {
  grid-area: topbar;
  border-radius: 0 5px 0 0;
}
#section-3 {
  grid-area: messages;
}
#section-4 {
  grid-area: sending;
}
