* {
  padding: 0;
  margin: 0;
  outline-color: transparent;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  /* Colors */
  --dark-bg: #030420;
  --light-bg: #ffffff;
  --raisin-black: #181b2a;
  --rich-black: #06041a;
  --cadet-gray: #a3a5ac;
  --gray: #848690;
  --bg-gray: #ffffff60;
  --dark-gray: #323646;
  --white: #ffffff;
  --blue: #0075ff;
  --orange: #ff5b31;
  --dark-blue: #151b36;
}
.light {
  --white: #06041a;
}
@media (prefers-color-scheme: light) {
  :root {
    /* --rich-black: #f1f1f1; */
    --white: #06041a;
    --raisin-black: #f6f9fa;
    --dark-gray: #c6c7ce;
    --cadet-gray: #06041a;
    --bg-gray: #06041a4f;
  }
}
/* Fonts */
@font-face {
  font-family: "museo";
  src: url(../fonts/MuseoModerno-VariableFont_wght.ttf);
}
